*{
    margin: 0;
    box-sizing: border-box;
}

.gallery{
    display: flex;
    width: 90%;
    height: 600px;
    margin:0 auto;
}

.gallery__img{
    min-width: 200px;
    object-fit: cover;
    flex:1;
    transition: 0.3 flex

}

.gallery__img:hover{
    flex:3;

}

.img--1{
    background-image: ;
}