:root {
    --azul_oscuro: #122250;
    --azul: #366bff;
    --azul-claro: #c9d6fa;
    --rosa: #ff2eab;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 16px;
}

/* Utilidades */

.container {
    width: 1104px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.text-s {
    font-size: 0.875rem;
}

.text-m {
    font-size: 1.25rem;
}

.text-l {
    font-size: 2.75rem;
}

.text-center {
    text-align: center;
}

/* Componentes */

.main__nav {
    margin-top: 1.5rem;
    color: black;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;


}

.main__list {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.main__list ul a {
    color: black;
}

.cover {
    padding-top: 4.8rem;
    padding-bottom: 5.1rem;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(218, 218, 254, 0.3295693277310925) 0%, rgba(201, 214, 250, 1) 100%);
}

img {
    max-width: 100%;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "texto-uno imagen"
        "texto-principal imagen"
        "texto-secundario imagen";
    column-gap: min(9rem, 10vw);
}

.main-header img {
    grid-area: imagen;
}

.cover-portrait {
    min-width: 80%;
    margin: auto;
    border-radius: 50%;
    border: #ff2eab solid 3px;
}

.cover-fondo {
    border-radius: 50%;

}

.main-header p {
    align-self: flex-start;
}

.green-dot {
    height: 0.625rem;
    width: 0.625rem;
    background-color: rgb(2, 151, 64);
    display: inline-block;
    border-radius: 50%;
}

.text-accent {
    color: var(--rosa);
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
    font-family: "Roboto";
    color: #122250;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(201, 214, 250, 0.2));
}

.container-small {
    width: 502px;
    margin: auto;
}

.benefits h2 {
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin: 0;
}

.benefits p {
    font-weight: 400;
    margin-top: 8px;
}

.skills {
    display: grid;
    margin: 0;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 50px 0;
    gap: 3.75rem;
    text-align: center;
}

.skills .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skills .icon {
    border: #122250 solid 1px;
    border-radius: 50%;
    width: 4.25rem;
    height: 4.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}